<div class="row">
  <div class="col-md-3"></div>
  <div class="btn-group btn-group-lg col-md-6" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Beginner</button>
  <button type="button" class="btn btn-default">Intermediate</button>
  <button type="button" class="btn btn-default">Expert</button>
</div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div id="main" class="col-md-6"></div>
  <div class="col-md-3"></div>
</div>
