<div class="game-border">
  <div class="game-header row">
    <div class="mine-count col-md-4">
      Mines
    </div>
    <div class="reset col-md-4">
      <button type="button" name="button">Reset</button>
    </div>
    <div class="clock col-md-4">
      Timer
    </div>
  </div>
  <div class="cells"></div>
</div>
