<div class="mines-remaining-wrapper col-md-2"></div>
<div class="reset-btn-wrapper col-md-8">
  <button type="button" class="reset-btn btn btn-primary btn-xs">
    Reset
  </button>
</div>
<div class="timer-wrapper col-md-2"></div>
