<div class="col-md-10 col-md-offset-1">
  <h4>Competitive Minesweeper</h4>
  <p>
    Send this URL to a friend.
    The next visitor to this webpage will become your opponent.
  </p>
  <h5>How to Play:</h5>
  <p>
    Players are given random boards.
    Players can lose as many times as they want (advice: try not to).
    If a player hits a mine they can reset their board and start over.
    The game ends when someone successfully clears a board.
  </p>
</div>
