<div class="col-md-10 col-md-offset-1">
  <h4>Competitive Minesweeper</h4>
  <p>
    Invite someone to play by sending them a link to this URL.
    The next person that visits this URL will become your opponent.
  </p>
  <h5>How to Play:</h5>
  <p>
    The first player to successfully clear their board is the winner.
    You do not lose if you hit a mine, just reset your board and keep playing.
    All boards are randomly generated.
  </p>
</div>
