<div class="col-md-10 col-md-offset-1">
  <h4>Competitive Minesweeper</h4>
  <p>
    The next person to visit this webpage will become your opponent.
  </p>
  <h5>How to Play:</h5>
  <p>
    The first player to successfully clear their board is the winner.
    You do not lose if you hit a mine.
    Reset your board and keep playing.
    All boards are generated randomly.
  </p>
</div>
