<div class="col-md-10 col-md-offset-1">
  <h4>Competitive Minesweeper</h4>
  <p>
    The next visitor to this webpage will become your opponent.
  </p>
  <h5>How to Play:</h5>
  <p>
    The winner is the first player to successfully clear their board.
    If you hit a mine you can reset your board and try again.
    Every board is random.
    The three second countdown will begin after both players press start.
  </p>
</div>
