<div class="boards-wrapper-col col-md-12">
  <div class="boards-wrapper-row">
    <div class="my-board well well-lg col-md-6"></div>
    <div class="opponent-board well well-lg col-md-6"></div>
  </div>
</div>
