<div class="difficulty-options-btn-group col-md-6">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">
      Beginner
    </button>
    <button type="button" class="btn btn-default">
      Intermediate
    </button>
    <button type="button" class="btn btn-default">
      Expert
    </button>
  </div>
</div>
<div class="rematch-button col-md-6">
  <button type="button" class="btn btn-default">Rematch</button>
</div>
