<div class="main container">
  <div class="main row">
    <div class="main col-md-12">
      <h1>Sign Up</h1>

      <form action="<%= users_url %>" method="POST">
        <%= form_auth_token %>

        <div class="form-group">
          <label>Username:
            <input type="text" name="user[username]"
              class="form-control" placeholder="Password"
              value="<%= @user.username %>">
          </label>
        </div>

        <div class="form-group">
          <label>Password:
            <input type="password" name="user[password]"
              class="form-control" placeholder="Password">
          </label>
        </div>

        <input type="submit" value="Sign Up" class="btn btn">
      </form>
    </div>
  </div>
</div>
