<div class="main container">
  <div class="main row">
    <div class="main col-md-12">
      <div class="page-header">
        <h1>Welcome to Minesweeper League, <%= @user.username %>!</h1>
      </div>
      <p>
        There nothing here at the moment,
        but there will be added functionality soon.
        Ranked play, matchmaking, and personal statistics are all in the works! 
      </p>
    </div>
  </div>
</div>
