<table class="table table-condensed">
  <caption>Beginner</caption>
  <thead>
    <tr>
      <th class="col-md-3">Rank</th>
      <th class="col-md-6">Name</th>
      <th class="col-md-3">Time</th>
    </tr>
  </thead>
  <tbody>
    <% var rank = 1 %>
    <% beginnerLeaders.each(function (beginnerLeader) { %>
      <tr>
        <th scope="row"><%= rank %></th>
        <td><%= beginnerLeader.get('name') %></td>
        <td><%= beginnerLeader.get('time') %></td>
      </tr>
      <% rank += 1 %>
    <% }) %>
  </tbody>
</table>
