.start-btn, .two-player-timer {
  text-align: center;
}

.two-player-pre-game-boards {
  height: 80px;
  background-color: black;
  color: white
}

.two-player-winner {
  background-color: #4cae4c;
}

.two-player-loser {
  background-color: #d9534f;
}
