<div class="m-backdrop"></div>
<div class="m-content">
  <button class="close">&times;</button>
  <h3>New Best Time</h3>
  <form>
    <input type="hidden" name="leader[best_time]" value="<%= bestTime %>">

    <label>Name
      <input type="text" name="leader[name]">
    </label>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
