<div class="btn-group btn-group-lg col-md-6 col-md-offset-3" role="group" aria-label="...">
  <button type="button" class="btn btn-default game-options-btn">Beginner</button>
  <button type="button" class="btn btn-default game-options-btn">Intermediate</button>
  <button type="button" class="btn btn-default game-options-btn">Expert</button>
</div>
