<div class="btn-group btn-group-lg col-md-6" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Beginner</button>
  <button type="button" class="btn btn-default">Intermediate</button>
  <button type="button" class="btn btn-default">Expert</button>
</div>
