<div class="game-options-col col-md-6 col-md-offset-3">
  <div class="btn-group btn-group" role="group">
    <button type="button" class="btn btn-default">
      Beginner
    </button>
    <button type="button" class="btn btn-default">
      Intermediate
    </button>
    <button type="button" class="btn btn-default">
      Expert
    </button>
  </div>
</div>
